.labPic {
    height: 250px;
    display: block;
    margin: 40px auto;
}
.serviceCards {
    text-align: center;
    color: white;
}
.serviceCard1 {
    background-color: #F2BF5E;
    padding: 25px 35px;
    margin: 25px 70px;
}
.serviceCard2 {
    background-color: #FF6161;
    margin: 25px 70px;
    padding: 25px 35px; 
}
.serviceCard3 {
    background-color: #536EB7;
    margin: 25px 70px;
    padding: 25px 35px;
}
.serviceCard4 {
    background-color: #028AFC;
    margin: 25px 70px;
    padding: 25px 35px;
}
.serviceButton {
    background-color: #F5F2F2;
    color: black;
    width: 100px;
    height: 30px;
}
.labPic2 {
    height: 250px;
    display: block;
    margin: 30px auto;
}
/* .labServices {
    margin: 0px 1em;
}
.serviceCards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    color: white;
    margin-bottom: 20px;
}
.serviceCard1 {
    background-color: #F2BF5E;
    padding: 25px 35px;
    margin-right: 10px;
}
.serviceCard2 {
    background-color: #FF6161;
    margin-right: 10px;
    padding: 25px 35px; 
}
.serviceCard3 {
    background-color: #536EB7;
    margin-right: 10px;
    padding: 25px 35px;
}
.serviceCard4 {
    background-color: #028AFC;
    padding: 25px 35px;
}
.airQT {
    font-size: 23px;
}
.serviceButton {
    background-color: #F5F2F2;
    color: black;
    width: 80px;
}
.labPic {
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid black 4px;
}
.labPic2 {
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    margin-bottom: 40px;
}
.labProdContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
} */