.top {
    align-items: center;
    display: flex;
    border: solid black 2px;
    padding: 20px 380px;
}
.icon {
    height: 100px;
}
.topText {
    text-transform: uppercase;
    padding-left: 30px;
}
.homePic {
    width: 15vw;
    display: inline-block;
    margin: 0px 30px 50px 30px;
    gap: 30px;
}
.picContainer {
    text-align: center;
}
.homeContainer {
    margin: 0px 21em;
}
.howWeWorkPara {
    width: 35vw; 
}
.howWeWorkContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
}
.howWeWorkPara1 {
    grid-column: 1/2;
}
.howWeWorkPara2 {
    grid-column: 2/3;
    grid-row: 1/2;
}
.howWeWorkPara3 {
    grid-column: 1/2;
    grid-row: 2/3;
}
.howWeWorkPara4 {
    grid-column: 2/3;
    grid-row: 2/3
}
span {
    font-weight: bolder;
    color: green;
}
.testingPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: solid black 4px;
}