.homeContainer {
    margin: 0px 30px;
}
.mainTitle {
    color: #00bc2f;
    font-size: 25px;
}

.testingPic {
    height:250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.homePic {
    height: 140px;
    padding-bottom: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.picContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
hr {
    margin-top: 0px;
}
/* .mainTitle{
    color: #00bc2f;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 0px;
}

.homePic {
    width: 15vw;
    display: inline-block;
    margin: 0px 30px 50px 30px;
    gap: 30px;
}
.picContainer {
    text-align: center;
}
.homeContainer {
    margin: 0px 21em;
    padding: 1px 20px;
    background-color: #eae8e8;
}
.mainPara {
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
}
.howWeWorkContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
}
.homePara1 {
    grid-column: 1/2;
}
.homePara2 {
    grid-column: 2/3;
    grid-row: 1/2;
}
.homePara3 {
    grid-column: 1/2;
    grid-row: 2/3;
}
.homePara4 {
    grid-column: 2/3;
    grid-row: 2/3;
}
.homePara1, .homePara2, .homePara3, .homePara4 {
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
}
span {
    font-weight: bolder;
    color: #00bc2f;
}
.testingPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: solid white 4px;
} */