.top {
    align-items: center;
    display: flex;
    border: solid black 2px;
    padding: 0px 70px;
    justify-content: space-between;
}
.icon {
    height: 80px;
}
.topB {
    text-align: right;
    /* padding-left: 65em; */
    display: flex;
}
.topPic {
    height: 25px;
}
.topPara{
    font-weight: bolder;
    letter-spacing: 1px;
    /* text-align: right; */
}