.top {
    align-items: center;
    display: flex;
    border: solid black 2px;
    padding: 0px 30px;
    justify-content: space-between;
}
.icon {
    height: 50px;
}
.topB {
    text-align: right;
    display: flex;
}
.topPic {
    height: 20px;
}
.topPara{
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 13px;
}