.contactContainer {
    background-color: lightgray;
    /* align-items: center; */
}
.contact {
    text-align: center;
    /* background-color: lightgray; */
}
.contactContainer2 {
    background-color: white;
    margin: 0px 90px;
}


/* @media screen and (min-width:768px) {
.contactContainer {
    text-align: center;
    align-items: center;
    margin: 0em 25em;
    padding: 110px 200px;
    background-color: lightgrey;
}
.contactContainer2 {
    background-color: white;
    border: 3px solid black;
    padding: 10px 0px;
}
} */
